body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease; /* اضافه کردن افکت انتقال */
}

.container:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* افکت سایه هنگام هاور */
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px; /* فاصله زیر عنوان */
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s ease; /* اضافه کردن افکت انتقال */
}

input:focus {
    border-color: #e23535; /* تغییر رنگ حاشیه در حالت فوکوس */
    outline: none; /* حذف outline پیش‌فرض */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #e23535;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* اضافه کردن افکت انتقال */
}

button:hover {
    background-color: #c65224; /* رنگ دکمه هنگام هاور */
}

button:disabled {
    background-color: #ccc; /* رنگ دکمه غیرفعال */
    cursor: not-allowed; /* نشان دادن نشانگر غیرفعال */
}